<!-- About Section -->
<section id="about" class="latest-news">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About UMAP</h3>
            <div class="col-lg-10 col-lg-offset-1  text-left">
<!--             <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}"> -->
                        <!-- <h5>{{ about.title }}</h5> -->
                        <!--img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}"-->
                        <p>{{ about.text }}</p>
                    <!-- </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div> -->
<hr>
<p>
<b> Important Dates</b> (<a href="{{site.baseurl}}/important-dates/">more details</a>)
<style type="text/css">
.tg-yw4l{vertical-align:top; font-size: 110%;}
</style>
<table  width="100%">
  <tr class="tickets-row">
    <td class="tg-yw4l">January 14, 2018</td>
    <td class="tg-yw4l">Workshop proposal submission</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><br></td>
    <td class="tg-yw4l"><br></td>
  </tr>

  <tr class="tickets-row">
    <td class="tg-yw4l">February 18, 2018</td>
    <td class="tg-yw4l">Regular papers abstract submission</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">February 25, 2018</td>
    <td class="tg-yw4l">Full paper submission</td>
    
  </tr>
  <tr class="tickets-row">
    <td class="tg-yw4l">March 11, 2018</td>
    <td class="tg-yw4l">Tutorial proposals</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">April 22, 2018</td>
    <td class="tg-yw4l">Submission of demos, posters and LBR papers</td>
  </tr>
  
</table>
</p>

            <hr>
            
            <h4> Latest News </h4>
            <article class="row">
                
                    <div class="post col-md-6 col-sm-6 text-left">
                        <h6>Call for Contributions</h6>
                        <p class="post-body">UMAP 2018 now invites contributions of regular research papers, workshop proposals, tutorial proposals, and demos, posters and late-breaking results. (<a href="{{site.baseurl}}/calls">more details</a>)</p>
                    </div>
                    <div class="post col-md-6 col-sm-6 text-left">
                        <h6>ACM UMAP 2018 Online</h6>
                        <p class="post-body">We’re very excited that UMAP2018 website gets online! Check out the flyer <a href="{{site.baseurl}}/umap2018_flyer.pdf"  target="_blank">here</a>. <br />More details will come soon.</p>
                    </div>
                
            </article>


            <!--h4> Latest News </h4>
            <li>Following are some important dates (<a href="{{site.baseurl}}/important-dates/">more detail</a>):</li>
            <span> - January 14, 2018: Workshop proposal submission</span></br>
            <span> - February 18, 2018: Regular papers abstract submission</span></br>
            <span> - February 25, 2018: Full paper submission</span></br>
            <span> - March 11, 2018: Tutorial proposals</span></br>
            <span> - April 22, 2018: Submission of demos, posters and LBR papers</span>
            <li>Call for contributions are online!</li>
            <li>We’re very excited that UMAP2018 website gets online! More details will come soon.</li-->

            

        </div>
        </div>

    </div>
</section>
<!-- End About Section -->
