<!-- Begin Blog-->
<section id="calls" class="blog">

<style>


#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">


        <article class="row">
                
                    <div class="post col-md-6 col-sm-6 text-left">
                        <h6>Call for Papers</h6>
                        <p class="post-body">The User Modeling, Adaptation, and Personalization (UMAP) 2018 Conference will include high quality peer-reviewed papers related to the above key areas. Maintaining the high quality and impact of the UMAP series, each paper will have three reviews by program committee members and a meta-review presenting the reviewers’ consensual view; the review process will be coordinated by the program chairs in collaboration with the corresponding area chairs. <a href="{{site.baseurl}}/cfp">continue reading</a></p>
                    </div>
                    <div class="post col-md-6 col-sm-6 text-left">
                        <h6>Call for Workshops</h6>
                        <p class="post-body">UMAP 2018, the premier international conference on systems that adapt to individual users, to groups of users, and that collect, represent, and model user information, is pleased to invite proposals for workshops to be held in conjunction with the conference. The workshops provide a venue to discuss and explore emerging areas of User Modelling and Adaptive Hypermedia research with a group of like-minded researchers and practitioners from Industry and Academia. <a href="{{site.baseurl}}/cfw">continue reading</a></p>
                    </div>
                    <div class="post col-md-6 col-sm-6 text-left">
                        <h6>Call for Tutorials</h6>
                        <p class="post-body">ACM UMAP 2018 is pleased to invite proposals for tutorials to be given in conjunction with the conference. Tutorials are intensive instructional sessions that provide a comprehensive introduction to established or emerging research topics of interest for the UMAP community. <a href="{{site.baseurl}}/cft">continue reading</a></p>
                    </div>
                    <div class="post col-md-6 col-sm-6 text-left">
                        <h6>Call for Demos, Posters and Late-breaking Results</h6>
                        <p class="post-body">Demonstrations will showcase research prototypes and commercially available products in a dedicated session. Demo submissions must be based on an implemented and tested system that pursues one or more innovative ideas in the interest areas of the conference.  <a href="{{site.baseurl}}/cfd">continue reading</a></p>
                    </div>
                    
                
        </article>



        
        </div>
    </div>



</section>
<!-- End Blog -->
