<!-- Begin Blog-->
<section id="calls" class="blog">

<<style>

.li{
    font-size: 120%;
}

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        
        <br /><h4 id="demo"></h4><br /><br/>
        <!--h4><b>Call for Demonstrations, Theory, Opinion, and Reflection, and Late-Breaking Results</b></h4-->
        <h5><b>DEMONSTRATIONS</b></h5>
        <p>Demonstrations will showcase research prototypes and commercially available products in a dedicated session. Demo submissions must be based on an implemented and tested system that pursues one or more innovative ideas in the interest areas of the conference. Demonstrations are an excellent and exciting way to showcase implementations and to get valuable feedback from the community. Each demo submission must make clear which aspects of the system will be demonstrated, and how. To better identify the value of demos, we also encourage authors to submit a pointer to a screencast (max 5 minutes on Vimeo or YouTube) or to any external material related to the demo (e.g., shared code on Github). </p>

        <p>Descriptions of demonstrations should have a length of max 2 pages in the ACM SIG proceedings template. On an extra page (not to be published), submissions should include a specification of the technical requirements for demonstrating the system at UMAP 2018.</p>

        <br/>
        <h5><b>THEORY, OPINION and REFLECTION</b></h5>
        <p>Theory, Opinion and Reflection (TOR) are position papers that critically look at ongoing and emerging research topics, reflections on persistent or fleeting trends in the field and blue sky future agendas for UMAP research. They offer an opportunity for discussing thought-provoking work relevant to the UMAP community, albeit they are not yet ready to be published as a full length research paper at a refereed conference.</p>

        <p>The presentation will be in the form of an interactive campfire session in a discussion corner during the poster session. The presenter will have 5 minutes to present the topic and will then drive the discussion in a laid-back environment, simulating a campfire storytelling time.</p>

        <p>Submissions should have a length of max 4 pages in the ACM SIG proceedings template.</p>

        <br/>
        <h5><b>LATE-BREAKING RESULTS</b></h5>
        <p>Late-breaking results (LBR) are research-in-progress that must contain original and unpublished accounts of innovative research ideas, preliminary results, industry showcases, and system prototypes, addressing both the theory and practice of User Modeling, Adaptation and Personalization. In addition, papers introducing recently started research projects or summarizing project results are welcome as well. </p>

        <p>We encourage researchers and practitioners to submit a late-breaking work as it provides a unique opportunity for sharing valuable ideas, eliciting useful feedback on early-stage work, and fostering discussions and collaborations among colleagues. </p>

        <p>Late-breaking results papers have a length of 4 to 6 pages in the ACM SIG proceedings template.</p>

        <br/>
        <h5><b>SUBMISSION AND REVIEW PROCESS</b></h5>
        <p>Submissions (demos, TOR, and late-breaking results) must adhere to the ACM SIG Standard (SIGCONF) proceedings template.  A template can be found at <a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>.</p>

        <p>Submit your papers in PDF format via EasyChair for UMAP 2018 Demos, TOR and LBR at: <a href="https://easychair.org/conferences/?conf=umap2018demotorlbr">https://easychair.org/conferences/?conf=umap2018demotorlbr</a>.</p>

        <p>The review process will be single blinded, i.e. authorsí names should be included in the papers. Submissions will be reviewed by at least two independent reviewers. They will be assessed based on their originality and novelty, potential contribution to the research field, potential impact in particular use cases, and the usefulness of presented experiences, as well as their overall readability. </p>

        <p>Papers that exceed the page limits (2 pages for demos, 4 pages for TOR and 6 pages for LBR) or do not adhere to the formatting guidelines will be returned without review.</p>

        <br/>
        <h5><b>PUBLICATION AND PRESENTATION</b></h5>
        <p>Accepted demo, TOR, and LBR papers will be published in the UMAP 2018 Adjunct Proceedings in the ACM Digital Library. </p>

        <p>All the three categories will be presented at the poster reception of the conference, in the form of a poster and/or a software demonstration following poster format. This form of presentation will provide presenters with an opportunity to obtain direct feedback about their work from a wide audience during the conference. </p>

        <p>Valid poster formats are A0 portrait or A1 landscape (up to width 33" or 840 mm).</p>

        <p>At least one author of each accepted paper must register for the conference and present the paper there.</p>

        <br/>
        <p>Late-breaking Result and Demo Chairs<br/>
        - Hui Fang (Shanghai University of Finance and Economics, China) &lt;<a href="mailto: fang.hui@mail.shufe.edu.cn">fang.hui@mail.shufe.edu.cn</a>&gt;<br/>
        - Pasquale Lops (University of Bari Aldo Moro, Italy) &lt;<a href="mailto: pasquale.lops@uniba.it">pasquale.lops@uniba.it</a>&gt;<br/></p>


        </div>
    </div>



</section>
<!-- End Blog -->
