<!-- Begin Blog-->
<section id="calls" class="blog">

<style>

.li{
    font-size: 115%;
}

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        
        
        
        <h4 id="tutorial"></h4><br /><br/>
        <!--h4><b>Call for Tutorials</b></h4-->
        <p>ACM UMAP 2018 is pleased to invite proposals for tutorials to be given in conjunction with the conference.
        Tutorials are intensive instructional sessions that provide a comprehensive introduction to established or emerging research topics of interest for the UMAP community.</p>
        <p>Topics of interest include, but are not limited to:
        <li style="font-size: 110%">new user modeling technologies, methods, techniques, and trends (e.g. exploiting data mining and big data analytics for user modeling, evaluation methodologies, data visualization, etc.)</li>
        <li style="font-size: 110%">user modeling and personalization techniques for specific domains (e.g., health sciences, e-government, e-commerce, cultural heritage, education, internet of things, mobile, music, information retrieval, etc.)</li>
        <li style="font-size: 110%">application of user modeling and personalization techniques for information retrieval and recommender systems;</li>
        <li style="font-size: 110%">eliciting and learning user preferences by taking into account users’ emotional state, physical state, personality, trust, cognitive factors.</li>
        <li style="font-size: 110%">The ideal tutorial should be broad enough to provide a basic introduction to the chosen area, but it should also cover the most important topics in depth.</li></p>

        <br/>
        <h5><b>PROPOSAL FORMAT AND SUBMISSION</b></h5>
        <p>Tutorial proposals should not exceed 5 pages, and should contain the following information:
        <ol>
        <li style="font-size: 110%">Title and abstract of the tutorial for inclusion on the UMAP 2018 website (200 words maximum).<br/>
        <li style="font-size: 110%"> Tutorial description:<br/>
            - learning objectives of the tutorial and relevance to UMAP 2018;<br/>
            - a brief outline of the tutorial structure;<br/>
            - targeted audience (introductory, intermediate, advanced) and prerequisite knowledge or skills;<br/>
            - practical sessions.
        <li style="font-size: 110%"> Tutorial length. The tutorial can be full (6 hours) or half day (3 hours).<br/>
        <li style="font-size: 110%"> Other venues to which the tutorial or part thereof has been or will be presented, in addition to explaining how the current tutorial differs from the other editions.<br/>
        <li style="font-size: 110%"> Name, email address, affiliation and brief professional  biography of the tutorial instructor(s), indicating previous training and speaking experience.</ol></p>

        <p>Proposals should be submitted in PDF format by email to both tutorial chairs at<br/>
        <a href="mailto: marko.tkalcic@unibz.it">marko.tkalcic@unibz.it</a><br/>
        <a href="mailto: marco.degemmis@uniba.it">marco.degemmis@uniba.it</a><br/>
        by <b>March 11, 2018</b>.
        <br/>An acknowledgment will be sent for confirmation.
        </p>

        <br/>
        <h5><b>EVALUATION CRITERIA</b></h5>
        <p>All proposals will be reviewed by the tutorial chairs. The features that will be evaluated are:
        <li style="font-size: 110%">ability of the tutorial to contribute to strengthening the foundations of UMAP research;</li>
        <li style="font-size: 110%">clarity of the tutorial, which should emerge from its description;</li>
        <li style="font-size: 110%">good organization, as appearing from the outline;</li>
        <li style="font-size: 110%">background/experience of tutorial instructor(s) in teaching the target topics.</li>
        </p>

        <br/>
        <p>Tutorial CHAIRS<br/>
        - Marko Tkalcic (Free University of Bozen-Bolzano, Italy) &lt;<a href="mailto: marko.tkalcic@unibz.it">marko.tkalcic@unibz.it</a>&gt;<br/>
        - Marco de Gemmis (University of Bari Aldo Moro, Italy) &lt;<a href="mailto: marco.degemmis@uniba.it">marco.degemmis@uniba.it</a>&gt;<br/></p>

        <a href="#calls" style="float:right;">Go Top</a>      

        
        </div>
    </div>



</section>
<!-- End Blog -->
