<!-- Begin Blog-->
<section id="calls" class="blog">

<style>

#callli {
    font-size:18px;
}

}
</style>

    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1  text-left">

        
        
        <h4 id="workshop"></h4><br /><br />
        <!--h4><b>Call for Workshop Proposals</b></h4-->

        <p>UMAP 2018, the premier international conference for researchers and practitioners working on systems that adapt to individual users, to groups of users, and that collect, represent, and model user information, is pleased to invite proposals for workshops to be held in conjunction with the conference. The workshops provide a venue to discuss and explore emerging areas of User Modelling and Adaptive Hypermedia research with a group of like-minded researchers and practitioners from Industry and Academia.</p>

        <p>In 2018 our goal is to have a balanced workshop program which comprises workshop formats of different types and a combination of emerging and established topics. Different full-day and half-day workshop formats are possible, for example:
        <li style="font-size: 110%">Working group meetings around a specific problem or topic; such workshops may wish to ask participants to submit a white paper or position statement.</li>
        <li style="font-size: 110%">Mini-conferences on specialized topics; such workshops may have their own paper submission and review processes.</li>
        <li style="font-size: 110%">Mini-competitions or challenges around selected topics with individual or team participation.</li>
        <li style="font-size: 110%">Interactive discussion meetings focusing on a subtopic in the general User Modelling and Adaptive Personalization research topics.</li><p>

        <br/>
        <h5><b>PROPOSAL FORMAT</b></h5>
        <p>The workshop proposals should be PDF documents not exceeding 5 pages, organized as follows:
        <li style="font-size: 110%">Workshop title and acronym</li>
        <li style="font-size: 110%">Workshop chair(s), including affiliation, email address, homepage, and experiences in organizing such events</li>
        <li style="font-size: 110%">Abstract (up to 300 words) and topics</li>
        <li style="font-size: 110%">Motivation on why the topic is of particular interest at this time</li>
        <li style="font-size: 110%">Workshop format, discussing the mix of events such as paper, presentations, invited talks, panels, and general discussion</li>
        <li style="font-size: 110%">Intended audience and expected number of participants</li>
        <li style="font-size: 110%">List of (potential) members of the program committee (at least 50%have to be confirmed at the time of the proposal)</li>
        <li style="font-size: 110%">Requested duration (half day or full day)</li>
        <li style="font-size: 110%">When available, past editions of the workshop, including URLs, a brief statement on the development of the workshop series, e.g., in terms of topics, number of paper submissions and participants, post-workshop publications over the years and acceptance statistics.</li></p>

        <br/>
        <h5><b>INSTRUCTIONS</b></h5>
        <p>We encourage both researchers and industry practitioners to submit proposals.</p>
        <p>We encourage interested researchers in submitting a workshop proposal to contact us in advance with workshop ideas, so we can help designing successful proposals. In particular for workshop proposals with novel interactive formats, we are happy to assist in further developing and implementing the ideas.</p>
        <p>We strongly suggest to have organizers from different institutions, bringing different perspectives to the workshop topic.</p>
        <p>We welcome workshops with a creative structure that attracts various types of contributions and ensures rich interactions.</p>
        <p>The organizers of accepted workshops will prepare a workshop web site containing the call for papers and detailed information about the workshop organization and timeline. The organizers will be responsible for their own reviewing process and publicity. There will be a conference adjunct proceedings where the workshop papers will be published. Hence, the workshop organizers will need to adhere to the adjunct proceedings publication timeline.
        Proposals should be submitted in PDF format by email to both workshop chairs by <b>January 14, 2017</b>.</p>

        <p>WORKSHOP CHAIRS<br/>
        - Marko Tkalcic (Free University of Bozen-Bolzano, Italy) &lt;<a href="mailto: marko.tkalcic@unibz.it">marko.tkalcic@unibz.it</a>&gt; <br/>
        - Marco de Gemmis (University of Bari Aldo Moro, Italy) &lt;<a href="mailto: marco.degemmis@uniba.it">marco.degemmis@uniba.it</a>&gt;</p>


        
        </div>
    </div>



</section>
<!-- End Blog -->
