<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper text-left">
      <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <div class="col-lg-8 col-md-10 col-xs-12">
            
        
            <h5><b>Regular Papers</b></h5>
            <li>Abstract: February 18, 2018</li>
            <li>Full paper: February 25, 2018</li>
            <li>Notification: Apri 1, 2018</li>
            <li>Camera-ready: May 6, 2018</li>
            <h7><b>Note: The submissions times are 11:59pm Hawaii time</b></h7>
            <br/><br/>

            <h5><b>Workshop</b></h5>
            <li>Proposal submission: January 14, 2018</li>
            <li>Notification of proposal acceptance: February 2, 2018</li>
            <li>Send the workshop description &amp; website URL : February 20, 2018</li>
            <li>(Suggested) 1st call for papers: February 25, 2018</li>
            <li>(Suggested) 2nd call for papers: March 20, 2018</li>
            <li>(Suggested) 3rd call for papers: April 10, 2018</li>
            <li>(Suggested) notification to authors: May 15, 2018</li>
            <li>Workshop summary camera-ready deadline: May 27, 2018</li>
            <li>Workshop papers camera-ready deadline: May 27, 2018</li>
            <br/>

            <h5><b>Tutorial</b></h5>
            <li>Tutorial proposals: March 11, 2018</li>
            <li>Notification of acceptance: March 23, 201</li>
            <li>Camera-ready tutorial summary: May 27, 2018</li>
            <li>Tutorial Day: July 8, 2018</li>
            <br/>

            <h5><b>Demos, TOR and LBR papers</b></h5>
            <li>Submission of demos, posters and LBR papers: April 22, 2018</li>
            <li>Notification of acceptance: May 18, 2018</li>
            <li>Camera-ready versions of accepted papers: May 27, 2018</li>
          </div>

            <!-- <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
            .tg th{font-family:Arial, sans-serif;font-size:18px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
            .tg .tg-yw4l{vertical-align:top}
            </style>
            <table class="tg">
              <tr>
                <th class="tg-yw4l">Regular Papers</th>
                <th class="tg-yw4l">Workshop</th>
                <th class="tg-yw4l">Tutorial</th>
              </tr>
              <tr>
                <td class="tg-yw4l">Abstract: <br>February 18, 2018</td>
                <td class="tg-yw4l">Proposal submission: <br>January 14, 2018</td>
                <td class="tg-yw4l">Tutorial proposals: <br>March 11, 2018</td>
              </tr>
              <tr>
                <td class="tg-yw4l">Full paper: <br>February 25, 2018</td>
                <td class="tg-yw4l">Notification of proposal acceptance: <br>February 2, 2018</td>
                <td class="tg-yw4l">Notification of acceptance: <br>March 23, 201</td>
              </tr>
              <tr>
                <td class="tg-yw4l">Notification: <br>Apri 1, 2018</td>
                <td class="tg-yw4l">Send the workshop description &amp; website URL : <br>February 20, 2018</td>
                <td class="tg-yw4l">Camera-ready tutorial summary: <br>May 27, 2018</td>
              </tr>
              <tr>
                <td class="tg-yw4l">Camera-ready: <br>May 6, 2018</td>
                <td class="tg-yw4l">(Suggested) 1st call for papers: <br>February 25, 2018</td>
                <td class="tg-yw4l">Tutorial Day: <br>July 8, 2018</td>
              </tr>
              <tr>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">(Suggested) 2nd call for papers: <br>March 20, 2018</td>
                <td class="tg-yw4l"></td>
              </tr>
              <tr>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">(Suggested) 3rd call for papers: <br>April 10, 2018</td>
                <td class="tg-yw4l"></td>
              </tr>
              <tr>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">(Suggested) workshop papers submission: <br>April 15, 2018</td>
                <td class="tg-yw4l"></td>
              </tr>
              <tr>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">(Suggested) notification to authors: <br>May 15, 2018</td>
                <td class="tg-yw4l"></td>
              </tr>
              <tr>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">Workshop summary camera-ready deadline: <br>May 27, 2018</td>
                <td class="tg-yw4l"></td>
              </tr>
              <tr>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">Workshop papers camera-ready deadline: <br>May 27, 2018</td>
                <td class="tg-yw4l"></td>
              </tr>
            </table> -->
        </div>
    </div>
</section>
<!-- End Schedule Section -->
