<!-- Begin Blog-->
<section id="organization" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.blogTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                <h5><b>General Chairs</b></h5>
                <li><span style="font-size:18px">Jie Zhang, Nanyang Technological University, Singapore</span></li>
                <li><span style="font-size:18px">Tanja Mitrovic, University of Canterbury, New Zealand</span></li>

                <br/><br/>
                <h5><b>Program Chairs</b></h5>
                <li><span style="font-size:18px">David Chin, University of Hawaii, USA</span></li>
                <li><span style="font-size:18px">Li Chen, Hong Kong Baptist University, China</span></li>

                <br/><br/>
                <h5><b>Track Chairs</b></h5>
                <h6><b>Personalized Recommender Systems</b></h6>
                <li><span style="font-size:18px">Dietmar Jannach, Technical University of Dortmund, Germany</span></li>
                <li><span style="font-size:18px">Markus Zanker, Free University of Bolzano-Bozen, Italy</span></li>
                <br/>

                <h6><b>Adaptive Hypermedia and the Semantic Web</b></h6>
                <li><span style="font-size:18px">Peter Brusilovsky, University of Pittsburgh, USA</span></li>
                <li><span style="font-size:18px">Geert-Jan Houben, Delft Univeristy of Technology, The Netherlands</span></li>
                <br/>

                <h6><b>Intelligent User Interfaces</b></h6>
                <li><span style="font-size:18px">Shlomo Berkovsky, CSIRO, Australia</span></li>
                <li><span style="font-size:18px">Markus Schedl, Johannes Kepler University Linz, Austria</span></li>
                <br/>

                <h6><b>Technology-Enhanced Adaptive Learning</b></h6>
                <li><span style="font-size:18px">Olga Santos, National Distance Education University, Spain</span></li>
                <li><span style="font-size:18px">Carla Limongelli, Roma Tre University, Italy</span></li>
                <br/>

                <h6><b>Personalized Social Web</b></h6>
                <li><span style="font-size:18px">Cecile Paris, CSIRO, Australia</span></li>
                <li><span style="font-size:18px">Julita Vassileva, University of Saskatchewan, Canada</span></li>


                <br/><br/>
                <h5><b>Workshops and Tutorial Chairs</b></h5>
                <li><span style="font-size:18px">Marko Tkalcic, Free University of Bolzano, Italy</span></li>
                <li><span style="font-size:18px">Marco de Gemmis, University of Bari Aldo Moro, Italy</span></li>

                <br/><br/>
                <h5><b>Late-breaking Result and Demo Chairs</b></h5>
                <li><span style="font-size:18px">Hui Fang, Shanghai University of Finance and Economics, China</span></li>
                <li><span style="font-size:18px">Pasquale Lops, University of Bari Aldo Moro, Italy</span></li>
 
                <br/><br/>
                <h5><b>Doctoral Consortium Chairs</b></h5>
                <li><span style="font-size:18px">Vania Dimitrova, University of Leeds, UK</span></li>
                <li><span style="font-size:18px">Pearl Pu, EPFL, Switzerland</span></li>
 
                <br/><br/>
                <h5><b>Publicity Chairs</b></h5>
                <li><span style="font-size:18px">Nilufar Baghaei, Unitec, Auckland, New Zealand</span></li>
                <li><span style="font-size:18px">Mi Zhang, Fudan University, China</span></li>
                <li><span style="font-size:18px">Guibing Guo, Northeastern University China</span></li>
 
                <br/><br/>
                <h5><b>Proceedings Chairs</b></h5>
                <li><span style="font-size:18px">Neil Yorke-Smith, Delft University of Technology, Netherlands</span></li>
                <li><span style="font-size:18px">Kirsten Smith, University of Southampton, UK</span></li>
 
                <br/><br/>
                <h5><b>Finance Chair</b></h5>
                <li><span style="font-size:18px">Yang Liu, Nanyang Technological University, Singapore</span></li>
 
                <br/><br/>
                <h5><b>Student Support Chairs</b></h5>
                <li><span style="font-size:18px">Yue Xu, Queensland University of Technology, Australia</span></li>
                <li><span style="font-size:18px">Yong Zheng, Illinois Institute of Technology, USA</span></li>
 
                <br/><br/>
                <h5><b>Sponsorship Chairs</b></h5>
                <li><span style="font-size:18px">Jason Zhao, Douban, China</span></li>
 
                <br/><br/>
                <h5><b>Local Arrangements Chairs</b></h5>
                <li><span style="font-size:18px">Zhu Sun, Nanyang Technological University, Singapore</span></li>
                <li><span style="font-size:18px">Zehong Hu, Nanyang Technological University, Singapore</span></li>
 
                <br/><br/>
                <h5><b>Web Master</b></h5>
                <li><span style="font-size:18px">Jie Yang, Delft University of Technology, Netherlands</span></li>


            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
