<!-- Begin Blog-->
<section id="organization" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.blogTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                <h5>General Chairs</h5>
                <li><span style="font-size:18px">Jie Zhang, Nanyang Technological University, Singapore</span></li>
                <li><span style="font-size:18px">Tanja Mitrovic, University of Canterbury, New Zealand</span></li>

                <br/>
                <h5>Program Chairs</h5>
                <li><span style="font-size:18px">Li Chen, Hong Kong Baptist University, China</span></li>
                <li><span style="font-size:18px">David Chin, University of Hawaii, USA</span></li>

            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
