<!-- Begin Blog-->
<section id="organization" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.blogTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                <h5><b>General Chairs</b></h5>
                <li><span style="font-size:18px">Jie Zhang, Nanyang Technological University, Singapore</span></li>
                <li><span style="font-size:18px">Tanja Mitrovic, University of Canterbury, New Zealand</span></li>

                <br/><br/>
                <h5><b>Program Chairs</b></h5>
                <li><span style="font-size:18px">David Chin, University of Hawaii, USA</span></li>
                <li><span style="font-size:18px">Li Chen, Hong Kong Baptist University, China</span></li>

                <br/><br/>
                <h5><b>Track Chairs</b></h5>
                <h6><b>Personalized Recommender Systems</b></h6>
                <li><span style="font-size:18px">Dietmar Jannach, Technical University of Dortmund, Germany</span></li>
                <li><span style="font-size:18px">Markus Zanker, Free University of Bolzano-Bozen, Italy</span></li>
                <br/>

                <h6><b>Adaptive Hypermedia and the Semantic Web</b></h6>
                <li><span style="font-size:18px">Peter Brusilovsky, University of Pittsburgh, USA</span></li>
                <li><span style="font-size:18px">Geert-Jan Houben, Delft Univeristy of Technology, The Netherlands</span></li>
                <br/>

                <h6><b>Intelligent User Interfaces</b></h6>
                <li><span style="font-size:18px">Shlomo Berkovsky, CSIRO, Australia</span></li>
                <li><span style="font-size:18px">Markus Schedl, Johannes Kepler University Linz, Austria</span></li>
                <br/>

                <h6><b>Technology-Enhanced Adaptive Learning</b></h6>
                <li><span style="font-size:18px">Olga Santos, National Distance Education University, Spain</span></li>
                <li><span style="font-size:18px">Carla Limongelli, Roma Tre University, Italy</span></li>
                <br/>

                <h6><b>Personalized Social Web</b></h6>
                <li><span style="font-size:18px">Cecile Paris, CSIRO, Australia</span></li>
                <li><span style="font-size:18px">Julita Vassileva, University of Saskatchewan, Canada</span></li>

            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
